name: Pull Request Workflow

env:
  CONFIGNAME: 'chewbacca'
  STAGE: RUN${{github.run_number}}
  DOMAIN_PREFIX: deatestenv${{github.run_number}}

on:
  pull_request:
    branches:
      - "develop"
      - "main"
    types:
      - opened
      - edited
      - reopened
      - synchronize

permissions:
      id-token: write   # This is required for requesting the JWT
      contents: read    # This is required for actions/checkout
jobs:
  verify:
    environment: dea-test
    defaults:
      run:
        shell: bash
        working-directory: ./source
    name: Scan, Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Viperlight Scan
        run: node common/scripts/install-run-rush.js viperlight-scan
      - name: Install
        uses: ./.github/actions/baseAction
      - name: Secrets Scan
        run: |
          node common/scripts/install-run-rush.js git-secrets-scan
      - name: Rush Build
        run: |
          node common/scripts/install-run-rush.js build
      - name: Rush Lint
        run: |
          node common/scripts/install-run-rush.js lint
      - name: cdk synth
        run: |
          cd dea-main
          npm run cdk synth
          cd ..
      - name: cfn_nag
        uses: stelligent/cfn_nag@master
        with:
          input_path: source/dea-main/cdk.out/DeaMainStack.template.json
          extra_args: --fail-on-warnings
      - name: cfn_nag warning check
        run: |
          ! grep -C 3 'WARN\|FAIL' cfn_nag.out
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: GITHUBACTIONSESSION
          aws-region: ${{ secrets.AWS_REGION }}
      - name: cdk deploy
        run: |
          cd dea-main
          npm run cdk deploy
          echo "DEA_API_URL=$(aws cloudformation list-exports --region us-east-1 --query """Exports[?Name == '${STAGE}-deaApiUrl'].Value | [0]""" | sed -e 's/^"//' -e 's/"$//')" >> $GITHUB_ENV
          echo "IDENTITY_POOL_ID=$(aws cloudformation list-exports --region us-east-1 --query """Exports[?Name == '${STAGE}-identityPoolId'].Value | [0]""" | sed -e 's/^"//' -e 's/"$//')" >> $GITHUB_ENV
          echo "USER_POOL_ID=$(aws cloudformation list-exports --region us-east-1 --query """Exports[?Name == '${STAGE}-userPoolId'].Value | [0]""" | sed -e 's/^"//' -e 's/"$//')" >> $GITHUB_ENV
          echo "USER_POOL_CLIENT_ID=$(aws cloudformation list-exports --region us-east-1 --query """Exports[?Name == '${STAGE}-userPoolClientId'].Value | [0]""" | sed -e 's/^"//' -e 's/"$//')" >> $GITHUB_ENV
          echo "DATASETS_BUCKET_NAME=$(aws cloudformation list-exports --region us-east-1 --query """Exports[?Name == '${STAGE}-DeaS3Datasets'].Value | [0]""" | sed -e 's/^"//' -e 's/"$//')" >> $GITHUB_ENV
      - name: Rush Test
        run: |
          node common/scripts/install-run-rush.js test:only --verbose
      - name: cdk destroy
        if: always()
        run: |
          cd dea-main
          npm run cdk destroy -- --force
